@import "tailwindcss";



@layer utilities {
  .animate-pulse-slow {
    animation: pulseSlow 6s ease-in-out infinite;
  }

  @keyframes pulseSlow {
    0%, 100% {
      transform: scale(1);
      opacity: 0.3;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.5;
    }
  }
}

html, body {
  @apply bg-white text-gray-800 font-sans antialiased;
}
